body {
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #363636;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #23232c;
  }
}
